/* App.css */

:root {
  --font-family: 'Poppins', sans-serif;
  --card-color-light: #c8de9d;
  --card-color-light-hover:#c0db8a;
  --pale-pink-color: #f7c9d4;
  --bold-pink-color: #f4aebe;
  
}

.app {
  text-align: center;
  box-sizing: border-box;
  font-family:var(--font-family);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff1f4;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-container {
  display: flex;
  width: 55%;
  height: auto;
  position: fixed; 
  flex-direction: column;
  gap: 20px;
  top: 200px;
  left: 0;

}

.right-container {

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  height: auto;
  position: fixed; 
  top: 175px;
  right: 50px;
  
}


/* main header */ 
.main-header {
  padding: 10px;
}

/* select divider */
.select-divider {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.select-divider .options-label {
  padding: 0 10px;
  font-size: 1rem;
}

.select-divider select {
  border: none;
  font-family: var(--font-family);
  font-size: 1rem;
  padding-right: 20px;
  cursor: pointer;
  outline: none; 
  background-color: #fff1f4;  
}

.main-header h1, h2{
  text-align: center;
}

.main-header h1 {
  font-size: 2rem;
}

.main-header h2 {
  font-size: 1rem
}


/* Cards styling */
.cards-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  background-color: var(--card-color-light);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  background-color: var(--card-color-light-hover);
}


.card img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card h2 {
  padding-top: 20px;
  font-size: 1rem;
}

.card p {
  font-size: 0.90rem;
}

.submit-btn {
  margin: 25px auto;
  display: block;
  padding: 15px 40px;
  margin: 0 auto 0 auto;
  font-size: 1rem;
  font-weight: 500;
  font-family: (var(--font-family));
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  transition: transform 0.3s ease, background 0.5s ease, box-shadow 0.3s ease;
}

.submit-btn:hover {
  transition: transform 0.3s ease;
  transform: scale(1.15);  
}

.submit-btn.disabled {
  background: #ccc;        
  color: #666;            
  cursor: not-allowed;     
  box-shadow: none;
}


.submit-btn.active {
  background: var(--pale-pink-color);     
  cursor: pointer;
}

.submit-btn.active:hover {
  background: var(--bold-pink-color);     
}

.submit-btn:active {
  transform: scale(0.90);  
}

.total-score {
  margin: 0 auto 0 auto;
}

.total-score .false {
  color:#fff1f4;
}



