.controls {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.select-control, .button-control {
    display: flex;
    padding: 10px 10px;
    align-items: center;
}

.select-control label, .button-control label {
    font-weight: 600;
    padding-right: 10px;
    font-family: var(--font-family);
}

.select-control select, option, .button-control select, option {
    border: none;
    align-items: left;
    font-size: 1rem;
    font-family: var(--font-family);
    background-color: var(--background-color);
    padding-right: 10px;
    outline: none;
    font-weight: 400;
}

.select-control select:focus, .button-control select:focus {
    outline: none;
    border: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



@media (max-width: 700px) {

    .controls {
        justify-content: right;
        gap: 10px;
        padding-right: 0;
        padding-bottom: 10px;
        gap: 5px;
    }

    .select-control label, .button-control label {
        font-size: 0.75rem;
        padding-right: 5px;

    }

    .select-control select, option, .button-control select, option {
        font-size: 0.75rem;
        padding-right: 5px;
    }
}
