.dinner-table {
    position: relative;
    background: var(--card-color-light);
    width: 70%;
    padding-top: 70%; 
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto 10px auto;

}

.dinner-table p {
    font-weight: 500;
    padding: 40px;
    font-size: 1.15rem;
}

.seat {
    border: 2px solid orange;
    border-radius: 50%;
    width: 40%;
    position: absolute;
    animation: rotation 3s linear infinite;
}

.circle-1 {
    left: 20px;
    top: 80px;
}

.circle-2 {
    top: -5px;
    left: 170px;
}

.circle-3 {
    right: 10px;
    top: 130px;
}

.circle-4 {
    left: 30px;
    bottom: 40px;
}

.circle-5 {
    bottom: 30px;
    left: 220px;
}

.seat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-10deg);
    }

}

  