.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: var(--card-color-light);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    font-family: var(--font-family);
  }
  
  .card:hover {
    transform: translateY(-5px);
    background-color: var(--card-color-light-hover);
  }
  
  .card img{
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  
  .card h2 {
    padding-top: 20px;
    font-size: 1rem;
    color: var(--nav-text-color)
  }
  
  .card p {
    font-size: 0.90rem;
    padding-bottom: 10px;
  }

  @keyframes popIn {
    from {
      opacity: 0;
      transform: scale(0.1);
    }
    to {
      opacity: 1;
      transform:scale(1);
    }
  }

  .pop-in {
    animation: popIn 0.8s;
  }

  @media (max-width:700px) {
    .card {
      height: 100px;
      width: 100px;
    }

    .card img{

      width: 55px;
      height: 55px;
      object-fit: cover;
    }
    
    .card h2 {
      font-size: 0.6rem;
    }
    
    .card p {
      font-size: 0.60rem;
      padding-bottom: 20px;
    }

  }