.game-container {
    font-family: var(--font-family);
}

.page-header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header h2 {
    padding-bottom: 10px;
    font-size: 1rem;
}

.page-header p {
    text-align: center;
    font-size: 0.85rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
